$primary-font: "OpenSans", 'Open Sans', sans-serif;
$extra-bold-font: "OpenSans-Extrabold", 'Open Sans', sans-serif;
$semi-bold-font: "OpenSans-Semibold", 'Open Sans', sans-serif;
$bold-font: "OpenSans-bold",'Open Sans',  sans-serif;
$italic-font: "OpenSans-Italic",'Open Sans',  sans-serif;
$primary-color: #000000;
$bright-color: #ff2d2d;
$light-color: #ffffff;

$font-weight-large: 700;
$font-weight-lite: 500;
$button-border: 1px solid #4d4d4d;
$text-uppercase: uppercase;
$text-capitalize: capitalize;
$font-title-size: 46px;
